{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<nav>
    {% if app.user %}
    {{ app.user.username }}
    <a href="/posts">Create Post</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {% endif %}
</nav>

<div>
        {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>Username: {{ post.userId.username }}</p>
        <h4>Comments</h4>
        {% for comment in comments %}

        <p>{{post.userId.username}} said: {{ comment.body }}</p>
        {% endfor %}
        {% endfor %}
</div>
{% endblock %}
