{% extends 'base.html.twig' %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}
<div>
    {% for post in posts %}
        <a href="/post/{{post.id}}"><h1>{{ post.title }}</h1></a>
        <p>{{ post.body }}</p>
        <p>Username: {{ post.userId.username }}</p>
        <h4>Comments</h4>
        {% for comment in comments %}
            {% if comment.postId.id == post.id %}
                <p>{{post.userId.username}} said: {{ comment.body }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
