{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body) }}
    <button class="border border-blue-darker text-white bg-blue-darker rounded p-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
