{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="text-blue-darker text-3xl">{{ post.title }}</div>
<div class="py-16">{{ post.body }}</div>

<div class="font-semibold">Comments</div>
{% for comment in post.comments %}
<div class="py-4 flex items-center">
    {% if app.user %}
    <div class="mr-4">{{ include('comment/_delete_form.html.twig') }}</div>
    {% endif %}
    <div class="italic inline mr-2">{{ comment.userId.username }} </div> said: "{{ comment.body }}"
    {% if app.user %}
    {% if app.user.username == comment.userId.username %}
    <a class="ml-4" href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
    {% endif %}
    {% endif %}
</div>
{% endfor %}

{% if app.user %}
<div class="flex mt-4 items-center">
    <a class="-ml-2 mr-4 no-underline rounded p-2 text-grey-darkest" href="{{ path('comment_new', {'id': post.id}) }}">Add
        comment</a>
    <a class="mr-4 no-underline border-2 rounded p-2 text-blue-darkest" href="{{ path('post_edit', {'id': post.id}) }}">Edit
        post</a>
    <div class="mr-4 no-underline">{{ include('post/_delete_form.html.twig') }}</div>
    {% endif %}
</div>

{% endblock %}
